.btn{
    display: inline-block;
    padding: 20px;
    background: black;
    color: white;
    font-size: 30px;

    transition-property: background-color, padding;
    transition-duration: 500ms, 2s;
    transition-delay: 200ms;
    transition-timing-function: ease-in-out;
}

.btn:hover{
    background-color: gray;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    
}